@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-image: url("../assets/paper.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
}

ul {
  list-style: none;
}

.nav-link.active {
  color: rgba(229, 53, 30, 0.832);
  transition: 0.3s ease;
  transform: scale(1.01);
  border-bottom: 3px solid rgba(229, 53, 30, 0.832);
}

.topnav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: auto;
}

.topnav a {
  color: white;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 1.8rem;
  border-bottom: 3px solid transparent;
  transition: color 0.3s ease;
}

.topnav a:hover {
  color: rgba(229, 53, 30, 0.832);
  transition: 0.3s ease;
  transform: scale(1.01);
  border-bottom: 3px solid rgba(229, 53, 30, 0.832);
}

.topnav a.active:hover {
  border-bottom: none;
  border-bottom: 3px solid rgba(229, 53, 30, 0.832);
}

.logo {
  font-size: 7rem;
  font-weight: 800;
  color: rgba(229, 53, 30, 0.832);
  line-height: 1;
  cursor: pointer;
  transition: 0.5s ease;
  margin-right: auto;
  padding-left: 30px;
}

.logo:hover {
  transform: scale(1.03);
}

#scrollToTop {
  position: fixed;
  bottom: 40px;
  right: 50px;
  display: flex;
  z-index: 1000;
  background-color: rgba(229, 53, 30, 0.832);
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 2.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out,
    visibility 0s linear 0.5s;
}

#scrollToTop.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out,
    visibility 0s linear;
}

#scrollToTop:hover {
  background-color: rgba(200, 40, 20, 0.832);
}

.waving-hand {
  animation: wave-animation 2.5s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 12rem 5rem;
  min-height: 100vh;
}

.home-content {
  max-width: 50%;
}

.home-img img {
  position: relative;
  width: 100%;
  max-width: 500px;
  border-radius: 50%;
  justify-content: right;
  padding: 50px;
  box-shadow: 0 0 25px solid rgba(229, 53, 30, 0.832);
  transition: 0.3s linear;
}

.home-content h1 {
  font-size: 4rem;
  font-weight: 700;
}

.home-content h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}

.home-content p {
  font-size: 1.6rem;
  margin: 2rem 0;
}

.social-icons a {
  font-size: 3rem;
  color: white;
  margin-right: 1rem;
  transition: color 0.3s ease;
  gap: 1.5rem;
}

.social-icons a:hover {
  color: rgba(229, 53, 30, 0.832);
  transform: scale(1.3) translateY(-5px);
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: rgba(229, 53, 30, 0.832);
  color: white;
  font-size: 1.6rem;
  border-radius: 5px;
  margin-top: 2rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: rgba(200, 40, 20, 0.832);
}

.typing-text {
  font-size: 30px;
  font-weight: 600;
  min-width: 280px;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
  gap: 10px;
}

.red-box {
  display: inline-block;
  height: 30px;
  background-color: transparent;
  border-right: 2px solid rgba(229, 53, 30, 0.832);
  animation: blink-caret 0.75s step-end infinite;
  white-space: nowrap;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(229, 53, 30, 0.832);
  }
}

#skills {
  padding: 30px 0;
}

#skills h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 20px;
  padding-left: 15rem;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  padding-left: 15rem;
  padding-right: 15rem;
  font-size: 14px;
}

.skills-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 2.5rem;
  border: 1px solid rgba(229, 53, 30, 0.832);
  transition: background 0.5s, transform 0.5s;
}

.skills-list div:hover {
  background-color: rgba(229, 53, 30, 0.832);
  transform: translateY(-10px);
  cursor: pointer;
}

.skills-list div i {
  font-size: 40px;
  margin-bottom: 30px;
}

.skills-list div h2 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 15px;
}

.skills-list div a {
  color: aliceblue;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.skills-list div a:hover {
  cursor: pointer;
}

.langs {
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.skills-list p {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.row {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  align-items: flex-start;
  flex-wrap: wrap;
}

#projects {
  padding: 10rem;
}

section {
  min-height: 100vh;
}

#projects h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 50px;
  padding-left: 5rem;
}

.projects-wrapper {
  /* position: relative; */
  display: flex;
  align-items: center;
  padding: 0 5rem;
}

.projects-container {
  padding-left: 10rem;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 3rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
  padding-left: 0;
  scrollbar-width: none; /* Firefox */
}

.projects-container::-webkit-scrollbar {
  display: none; /* Chrome */
}

.project-card {
  flex: 0 0 300px;
  background: #262626;
  border: 1px solid rgba(229, 53, 30, 0.832);
  border-radius: 2.5rem;
  padding: 3rem;
  transition: background 0.5s, transform 0.5s;
}

.project-card:hover {
  background-color: rgba(229, 53, 30, 0.832);
  transform: translateY(-10px);
  cursor: pointer;
}

.project-card h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.project-card p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.project-card a {
  color: aliceblue;
  text-decoration: underline;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.project-card a:hover {
  color: white;
}

.projects-nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 0.5rem;
}

.scroll-btn {
  color: aliceblue;
  background: none;
  border: none;
  font-size: 5rem;
  height: 100%;
  /* padding: 1rem 2rem; */
  padding-left: 5rem;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.scroll-btn:hover {
  color: rgba(229, 53, 30, 0.832);
  cursor: pointer;
}

.project-card i {
  font-size: 40px;
  margin-bottom: 20px;
}

#contact .container {
  padding-top: 15rem;
}

#contact h1 {
  font-size: 4rem;
  padding-left: 15rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  font-weight: 700;
}

#contact p {
  padding-left: 15rem;
  font-size: 20px;
}

#contact .social-icons {
  padding-top: 3rem;
  padding-left: 15rem;
}

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p i {
  color: rgba(200, 40, 30, 0.832);
  margin-right: 15px;
}

.contact-right form {
  width: 100%;
  padding-right: 15rem;
  gap: 20px;
}

form input,
form textarea {
  width: 100%;
  border: 1px solid rgba(229, 53, 30, 0.832);
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 0 0 15px 0;
  color: aliceblue;
  border-radius: 8px;
  font-size: 18px;
}

form textarea {
  resize: vertical;
}

form .btn2 {
  padding: 10px 60px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 50px;
  cursor: pointer;
}

.row .btn2 {
  margin-left: 15rem;
}

.education h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 20px;
  padding-left: 15rem;
  padding-top: 10rem;
}

.timeline-items {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: rgba(229, 53, 30, 0.832);
  left: calc(50% - 1px);
}

.tl-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.tl-item:last-child {
  margin-bottom: 0;
}

.tl-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.tl-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.tl-dot {
  height: 21px;
  width: 21px;
  background-color: rgba(229, 53, 30, 0.832);
  box-shadow: 0 0 25px var(rgba(229, 53, 30, 0.832)) 0 0 50px
    var(rgba(229, 53, 30, 0.832));
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.tl-date {
  font-size: 20px;
  font-weight: 800;
  color: aliceblue;
  margin: 6px 0 15px;
}

.tl-content {
  background-color: #262626;
  border: 1px solid rgba(229, 53, 30, 0.832);
  padding: 30px 50px;
  border-radius: 4rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.tl-content:hover {
  transform: scale(1.05);
  background-color: rgba(229, 53, 30, 0.832);
}

.tl-content h3 {
  font-size: 20px;
  color: aliceblue;
  margin: 0 0 10px;
  font-weight: 500;
}

.tl-content p {
  font-size: 16px;
  color: aliceblue;
  font-weight: 300;
  line-height: 22px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(229, 53, 30, 0.832);
}

::-webkit-scrollbar-track {
  background-color: #262626;
  width: 50px;
}
